/* czcionki */

@font-face 
{
  font-family: 'mbx';
  src: url('./assets/fonts/MatrixBookSmallCapsRegular.ttf') format('truetype');
  font-weight: 400;
}

@font-face 
{
  font-family: 'cooper';
  src: url('./assets/fonts/Cooper Old Style BQ Regular.otf') format("opentype");
  font-weight: 400;
}

/* aplikacja */

:root 
{ 
  --header-h: 86px; 
} 

.app 
{
  padding-top: var(--header-h);
}

html, body 
{
  margin: 0;
  padding: 0;
}

body 
{
  background-color: #261109;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 800px;
}

/* HEADER */
.header 
{
  position: fixed;
  top: 0;
  width: 100%;

  height: var(--header-h);
  padding: 0 40px;

  display: flex;
  align-items: center;

  background: #140B04;
  border-bottom: 5px solid #7A1208;
  z-index: 1000;
}

.logo 
{
  margin: 0;
  color: #FBF2D0;
  font-family: 'mbx', sans-serif;
  text-shadow: 2px 2px 4px rgba(0,0,0,1.0);
}
/* produkty */

.storeLayout 
{
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 24px;
  align-items: start;
}

/* Container */
.products 
{
  margin-left: 40px; 
  margin-right: 40px; 
  gap: 16px;
  padding-top: 30px;
  padding-bottom: 30px; 

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
}

@media (max-width: 1500px) {
  .products {
    grid-template-columns: 1fr;
  }
}

/* Each row */
.productCard 
{
  position: relative;
  display: flex;

  height: 180px;
  padding: 12px;
  gap: 12px;

  border: 2px solid #7A1208;
  background: #7A1208;

  color: #FBF2D0;

  box-sizing: border-box;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);

  transition: box-shadow 0.2s ease;
  transition: background 0.2s ease;

  cursor: pointer;

  border-radius: 22px;
  overflow: hidden;
}

.productInCart
{
  background: #0E5A60;
  border-color: #0E5A60;
}


.productCard:hover 
{
  background: #1c2133;
  box-shadow: 0 10px 24px rgba(0,0,0,0.4);
}

.productActionsTop 
{
  position: absolute;
  top: 8px;
  right: 8px;

  width: 200px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.addButton 
{
  top: 6px;
  right: 6px;

  width: 40px;
  height: 40px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 999px;
  background: #517F4E;
  color: #FBF2D0;

  font-family: 'cooper', serif;
  font-size: 1.35rem;
  line-height: 1;
  cursor: pointer;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);

  transition:
    transform 0.15s ease,
    background 0.2s ease,
    box-shadow 0.2s ease;

  z-index: 5;
}

button:disabled 
{
  opacity: 0.15;
  cursor: not-allowed;
}

.addButton:hover 
{
  transform: scale(1.06);
  background: linear-gradient(180deg, var(--accent-hover), #cb2f21);
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.45);
}

.addButton:active 
{
  transform: scale(0.96);
}

.removeButton 
{
  top: 6px;
  right: 150px;

  width: 40px;
  height: 40px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 999px;
  background: #517F4E;
  color: #FBF2D0;

  font-family: 'cooper', serif;
  font-size: 1.35rem;
  line-height: 1;
  cursor: pointer;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);

  transition:
    transform 0.15s ease,
    background 0.2s ease,
    box-shadow 0.2s ease;

  z-index: 5;
}

.removeButton:hover 
{
  transform: scale(1.06);
  background: linear-gradient(180deg, var(--accent-hover), #cb2f21);
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.45);
}

.removeButton:active 
{
  transform: scale(0.96);
}

.cartQtyText
{
  top: 3px;
  right: 40px;

  font-size: 1.35rem;
  color: #FBF2D0;
  font-family: 'cooper', sans-serif;
  text-shadow: 2px 2px 4px rgba(0,0,0,1.0);
}

.productImage 
{
  height: 100%;
  width: height;
  object-fit: cover;
  border: 2px solid #BA2619;
  background: #1E150E;

  /* zaokraglane */
  border-radius: 14px;
  overflow: hidden;
}

.productTitle 
{
  margin: 0;
  font-size: 26px;
  font-family: 'cooper', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  text-decoration: underline;

}

.productDesc 
{
  font-size: 20px;
  color: #FBF2D0;
  font-family: 'cooper', sans-serif;
  text-shadow: 2px 2px 4px rgba(0,0,0,1.0);

  margin: 6px 0 0;
  opacity: 0.8;
}

.productStock 
{
  font-size: 16px;
  color: #FBF2D0;
  font-family: 'cooper', sans-serif;
  text-shadow: 2px 2px 4px rgba(0,0,0,1.0);

  margin: 6px 0 0;
  opacity: 0.8;
}

.productPrice 
{
  margin: 3px 0 0;

  position: absolute;
  bottom: 4px;
  right: 12px;

  width: 300px;
  height: 50px;

  font-size: 20px;
  color: #FBF2D0;
  font-family: 'cooper', sans-serif;
  text-shadow: 2px 2px 4px rgba(0,0,0,1.0);
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;


}

.productMiddle 
{
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* koszyk */

.cartSidebar 
{
  position: fixed;
  top: 80px;
  margin-left: 20px;
  right: 0;
  width: 28%;
  height: calc(80vh);

  background: #1E150E;
  border-left: 5px solid #7A1208;
  border-bottom: 5px solid #7A1208;
  padding: 20px;

  overflow-y: auto;

  z-index: 10;

  border-radius: 13px;
}

.cartTitle 
{
  margin: 0;
  color: #FBF2D0;
  font-family: 'mbx', sans-serif;
  text-shadow: 2px 2px 4px rgba(0,0,0,1.0);
  text-align: center;
  text-decoration: underline;
}

.emptyCart 
{
  color: #FBF2D0;
  opacity: 0.8;
  text-align: center;
  margin-top: 20px;
}

.cartItems 
{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}

.cartItemContainer 
{
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 2px;
}

.cartItem 
{
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  flex: 1;

  cursor: pointer;
  padding: 10px;
  border-radius: 14px;
  background: #2a1d14;
  border: 3px solid #7A1208;
}

.removeCartButton 
{
  top: 6px;
  right: 150px;

  margin-left: 8px;
  width: 40px;
  height: 40px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 999px;
  background: #7A1208;
  color: #FBF2D0;

  font-family: 'cooper', serif;
  font-size: 1.35rem;
  line-height: 1;
  cursor: pointer;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);

  transition:
    transform 0.15s ease,
    background 0.2s ease,
    box-shadow 0.2s ease;

  z-index: 5;
}

.removeCartButton:hover 
{
  background: #BA2619;

  transform: scale(1.06);
  background: linear-gradient(180deg, var(--accent-hover), #cb2f21);
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.45);
}

.productActionsTop_cart
{
  width: 120px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2px;
}

.addButton_cart
{
  width: 30px;
  height: 30px;
}

.removeButton_cart
{
  width: 30px;
  height: 30px;
}

.cartItem:hover 
{
  background: #1c2133;
  box-shadow: 0 10px 24px rgba(0,0,0,0.4);
}

.cartItemInfo 
{
  flex: 1;
}

.cartItemTitle 
{
  margin: 0 0 6px 0;
  color: #FBF2D0;
  font-size: 20px;
  font-family: 'cooper', sans-serif;
}

.cartItemQty 
{
  margin: 0;
  color: #FBF2D0;
  opacity: 0.8;
}

.cartQtyInput 
{
  width: auto;
  max-width: 4ch;
  padding: 4px;

  text-align: center;

  font-size: 18px;

  background: #1E150E;
  border: 1px solid #BA2619;
  border-radius: 6px;

  color: #FBF2D0;
}

.cartQtyInput::-webkit-outer-spin-button,
.cartQtyInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cartQtyInput {
  -moz-appearance: textfield;
}

.purchaseContainer 
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;

  border-radius: 14px;
  background: #7A1208;
  border: 2px solid #7A1208;
}

.cartSummary 
{
  margin-top: 5px;
  padding-top: 5px;

  color: #FBF2D0;
  font-size: 20px;
  font-family: 'cooper', sans-serif;
  text-shadow: 2px 2px 4px rgba(0,0,0,1.0);
  text-align: center;
}

.cartSummary p 
{
  margin: 2px 0;
}

.cartSummary h3 
{
  margin: 2px 0;
  font-size: 25px;
  text-decoration: underline;
}

.cartPurchaseButton 
{
  width: 100%;
  height: 60px;
  padding: 20px;
  gap: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 15px;
  background: #517F4E;
  color: #FBF2D0;

  font-size: 28px;
  color: #FBF2D0;
  font-family: 'cooper', sans-serif;
  text-shadow: 2px 2px 4px rgba(0,0,0,1.0);
  text-align: center;

  cursor: pointer;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);

  transition:
    transform 0.15s ease,
    background 0.2s ease,
    box-shadow 0.2s ease;
}

.priceHighlight 
{
  color: #FFD700;
  font-weight: bold;

  text-shadow:
    0 0 3px rgba(255,215,0,0.6),
    0 0 6px rgba(255,200,0,0.4),
    1px 1px 2px rgba(0,0,0,0.8);
}

/* footer */
.footer 
{
  position: relative;
  background: #140B04;
  border-top: 4px solid #7A1208;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  color: #FBF2D0;
  font-family: 'mbx', sans-serif;

  z-index: 30;
}


.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.7);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 2000;
}

.modalCard 
{
  position: relative;

  width: 600px;
  max-width: 90%;
  max-height: 85vh;
  overflow-y: auto;

  background: #1E150E;
  border: 3px solid #7A1208;
  border-radius: 20px;
  padding: 24px;

  color: #FBF2D0;
  box-shadow: 0 12px 40px rgba(0,0,0,0.5);
}

.closeButton 
{
  position: absolute;
  top: 12px;
  right: 12px;

  width: 40px;
  height: 40px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 999px;
  background: #7A1208;
  color: #FBF2D0;

  font-family: 'cooper', serif;
  font-size: 1.35rem;
  line-height: 1;
  cursor: pointer;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);

  transition:
    transform 0.15s ease,
    background 0.2s ease,
    box-shadow 0.2s ease;
}

.closeButton:hover 
{
  transform: scale(1.06);
  background: linear-gradient(180deg, var(--accent-hover), #cb2f21);
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.45);
}

.modalImage 
{
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 14px;
  border: 2px solid #BA2619;
  margin-bottom: 18px;
}

.modalTitle 
{
  margin: 0 0 12px 0;

  font-size: 36px;
  color: #FBF2D0;
  font-family: 'cooper', sans-serif;
  text-shadow: 2px 2px 4px rgba(0,0,0,1.0);
  text-decoration: underline;
}

.modalShortDesc 
{
  margin: 0 0 12px 0;
  opacity: 0.9;
  
  font-size: 24px;
  color: #FBF2D0;
  font-family: 'cooper', sans-serif;
  text-shadow: 2px 2px 4px rgba(0,0,0,1.0);
}

.modalLongDesc 
{
  margin: 0 0 16px 0;
  line-height: 1.6;
  opacity: 0.85;

  font-size: 20px;
  color: #FBF2D0;
  font-family: 'cooper', sans-serif;
  text-shadow: 2px 2px 4px rgba(0,0,0,1.0);
}

.modalPrice 
{
  margin: 0 0 8px 0;

  font-size: 22px;
  color: #FBF2D0;
  font-family: 'cooper', sans-serif;
  text-shadow: 2px 2px 4px rgba(0,0,0,1.0);
}

.modalStock
{
  margin: 0;

  font-size: 16px;
  color: #FBF2D0;
  font-family: 'cooper', sans-serif;
  text-shadow: 2px 2px 4px rgba(0,0,0,1.0);
}